.header{
    background-color: grey;
    border-radius: 20px;
    height: 150px;
    padding: 1%;
    margin: 1% 1%;
}

.btn{
    margin-top: 1%;
}

.adminbtn{
    background-color: lightblue;
}

.PendingBoard{
    max-width: 25vh;
}

.pendingVerification {
    margin-left: 1%;
}

.card{
	background-color: #ffffff;
	border-radius: 20px ;
	padding: 40px;
}

.reports{
    margin-left: 1%;
}

.ReportBoard{
    max-width:100vh;
    min-width:100vh;
}
