.header{
    background-color: grey;
    border-radius: 20px;
    height: 150px;
    padding: 1%;
    margin: 1% 1%;
}

.admin-topbar{
    width: 100vh;
}

.admin-container{
    margin-right: 10vh;
    margin-left: 10vh;
}

.admin-cardBtns{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.admin-stickBottom{
    position:sticky;
    bottom: 3px;
}

.admin-tabbuttons {
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.btn{
    background-color: lightblue;
    margin-top: 1%;
}

.PendingBoard{
    max-width: 25vh;
}

.pendingVerification {
    margin-left: 1%;
}

.card{
	background-color: #ffffff;
	border-radius: 20px ;
	padding: 40px;
}

.reports{
    margin-left: 1%;
}

.ReportBoard{
    max-width:100vh;
    min-width:100vh;
}
