.messages {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.messagesTop {
    display: flex;
}

.messagesImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.messagesText {
    padding: 10px;
    border-radius: 20px;
    background-color: #1877f2;
    color: white;
    max-width: 300px;
}

.messagesBottom {
    font-size: 12px;
    margin-top: 10px;
}

.messages.own {
    align-items: flex-end;
}

.messages.own .messagesText {
    background-color: rgb(245, 241, 241);
    color: black;
}