
.nav-topbar {
    margin-top: 2vh;
  }
  
  .nav_padding{
    padding: 5px;
  }
  
  nav{
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 10vh;
      background: #FFDCC3;
      color: black;
    }
    
  .profilePic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .nav-links{
      display: flex;
      align-items: center;
      list-style: none;
    }

.result-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-cards{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.results-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.results-nav-left{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.result-card{
  border-width: 100;
}

.results-card-shadow{
  box-shadow: 10px 10px #888888;
}

.result-avatar{
    background: linear-gradient(130deg, #74b9ff, #e66867);
    margin: auto;
    border-radius: 50%;
    border: 5px;
    width: 5vw;
    height: 5vw;
}

a {
  text-decoration: none !important;
}