
.nav-topbar {
    margin-top: 2vh;
  }
  
  .nav_padding{
    padding: 5px;
  }
  
  nav{
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-height: 10vh;
      background: #FFDCC3;
      color: black;
    }
    
  .profilePic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  
  .nav-links{
      display: flex;
      align-items: center;
      list-style: none;
    }

.result-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.results-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.results-nav-left{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}