.videoVideo{
    margin-bottom: 40px;
    width: 270px;
}

.videoThumbnail{
    height:140px;
    width:250px;
}

.videoText{
    margin-left: 15px;
}

.videoText > h4{
    font-size:18px;
    margin-bottom: 5px;
}

.videoText > p{
    font-size:15px;
    color:grey;
}

.videoInfo{
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
}

.videoAvatar{
    height: 30px !important;
    width: 30px !important;
}